NEXT_PUBLIC_SUPABASE_URL=https://fpmrtakecqrhehsdsbrz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
LOGO_URL=
NEXT_PUBLIC_ICON_URL=https://fpmrtakecqrhehsdsbrz.supabase.co/storage/v1/object/public/assets/mac-solar-icon.png
NEXT_PUBLIC_FB_APP_ID=
SUPABASE_SERVICE_ROLE_KEY=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
